body {
    padding: 0;
    margin: 0;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: normal;
    color: #695A59;

    background-color: #EEE8E6;
}

.container {
    width: 1166px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}

header, .footer-header {
    position: relative;
}

header:not(.mission-header) {
    grid-column: 1/10;
}

.section-title {
    margin: 0;
    position: relative;
    z-index: 2;

    font-family: "Old Standard TT", sans-serif;
    font-weight: normal;
    font-size: 42px;
    line-height: 54px;
    text-transform: uppercase;
}

.title-description {
    margin: 0;

    font-family: "Old Standard TT", sans-serif;
    font-weight: normal;
    font-size: 140px;
    line-height: 110px;
    text-transform: uppercase;
    color: #EAE1DC;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.button {
    display: inline-block;

    padding: 18px 19px 14px;
    border: 0;
    border-top: 2px solid #A78587;
    border-bottom: 2px solid #A78587;
    outline: none;
    background-color: transparent;

    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #A78587;
    text-transform: uppercase;
    text-decoration: none;
}

.link {
    color: #9A8584;
}

.main-header p, .main-header a {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    color: #695A59;
}

.main-nav {
    display: grid;
    grid-template-columns: 141px 1fr auto auto auto;
    gap: 0 50px;
}

.logo {
    padding: 29px 0;
}

.logo-description {
    margin-left: -46px;
}

.logo-description p {
    max-width: 222px;
    padding: 27px 0 29px;
    line-height: 20px;
}

.phone-container {
    position: relative;
    margin: 24px 0;
}

.phone-container::before {
    content: "";

    width: 18px;
    height: 18px;
    background: url("../img/phone-icon.png") no-repeat center;

    position: absolute;
    top: 6px;
    left: -28px;
}

.phone-container a {
    display: inline-block;
    max-width: 146px;
    line-height: 24px;
    text-decoration: none;
}

.phone-container span {
    text-decoration: underline;
}

.geo-container {
    position: relative;
    margin: 24px 0;
}

.geo-container::before {
    content: "";

    width: 16px;
    height: 20px;
    background: url("../img/geo-icon.png") no-repeat center;

    position: absolute;
    top: 6px;
    left: -28px;
}

.geo-container p {
    max-width: 244px;
    margin-right: 37px;
    line-height: 24px;
}

.hamburger-button-container {
    width: 36px;
    height: 32px;
    margin: 32px 0;
    position: relative;
}

.hamburger-line {
    position: absolute;
    display: block;

    width: 100% ;
    height: 2px;
    background-color: #9A8584;
    border-radius: 2px;
}

.hamburger-line:nth-child(2) {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hamburger-line:last-child {
    bottom: 0;
}

.promo {
    background: url("../img/promo-bg.png") no-repeat bottom 80px center;
    background-size: cover;
    padding-top: 80px;
}

.promo-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto) 80px;
    gap: 0 20px;
}

.promo p, .promo h2 {
    grid-column: 2/7;
}

.promo-title {
    font-weight: 500;
    font-size: 46px;
    line-height: 64px;
    color: #EEE9E6;

    margin: 0 0 15px;
}

.promo-text {
    font-size: 18px;
    line-height: 32px;
    color: #EEE9E6;
    opacity: 0.6;

    margin: 15px 0 35px;
}

.promo-button-container {
    grid-column: 2/5;
    margin: 20px 0 80px;
}

.promo img {
    grid-column: 7/-1;
    grid-row: 1/5;

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about {
    padding-top: 80px;
    padding-bottom: 120px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
}

.about-title {
    margin-left: 99px;
}

.about-content {
    grid-column: 1/-1;
    padding-top: 80px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
}

.about-text {
    grid-column: 2/8;
    margin: 10px 0;
}

.about-text:first-child {
    margin-top: 0;
}

.aside-right-content {
    grid-column: 9/12;
    grid-row: 1/3;
}

.aside-right-text, .aside-right-img {
    grid-column: 9/12;
}

.aside-right-text {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.about-content > .aside-right-text {
    margin-top: 336px;
}

.img-container {
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
    margin: 20px 0;
    padding: 80px 0;

    position: relative;
}

.img-container img {
    grid-column: 1/-1;
    position: absolute;

    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.img-container p {
    grid-column: 2/-2;
    position: relative;

    margin: 0;

    font-size: 26px;
    line-height: 48px;
    color: white;
}

.about-content > img {
    grid-column: 2/9;
    margin: 20px 0;
}

.catalog {
    padding-bottom: 130px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
}

.catalog-header {
    grid-column: 1/9;
}

.catalog-header h2 {
    max-width: 510px;
    margin-left: 99px;
}

.catalog-list {
    grid-column: 1/-1;

    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.catalog-item {
    grid-column: span 4;

    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 240px auto;

    background: white;
}

.catalog-item-horizontal {
    grid-column: span 6;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.catalog-item-horizontal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.catalog-item-content {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 20px 0;
    padding: 36px 35px 40px 36px;
}

.catalog-item-title {
    margin: 0;

    font-family: "Old Standard TT", sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
}

.catalog-item-price {
    margin: 0;

    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #343235;
}

.catalog-item-text {
    margin: 0;

    font-size: 14px;
    line-height: 20px;
    text-transform: lowercase;
    opacity: 0.6;
}

.catalog-item-link {
    display: inline-block;
    margin-top: 12px;

    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #9A8584;
    text-transform: uppercase;
    text-decoration: none;

    position: relative;
}

.catalog-item-link::before {
    content: "";

    width: 80px;
    border-top: 1px solid #9A8584;

    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}

.catalog-item-link::after {
    content: "";

    width: 7px;
    height: 7px;
    border: 1px solid #9A8584;
    border-bottom: transparent;
    border-left: transparent;
    border-radius: 1px;

    position: absolute;
    top: 50%;
    left: 171px;
    transform: translateY(-50%) rotate(45deg);
}

.projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;

    padding-bottom: 120px;
}

.projects-header {
    margin-bottom: 30px;
}

.projects-title {
    max-width: 350px;
    margin-left: 99px;
}

.projects-slider {
    grid-column: 1/-1;
    position: relative;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 660px;
    gap: 0 20px;
}

.slider-content {
    grid-column: 2/-2;
    position: relative;

    display: grid;
    grid-template-rows: 1fr auto;
}

.slider-content img {
    position: absolute;
}

.slider-text {
    grid-row: -1/-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding: 0 84px 0 36px;
    background-color: #343235;
    opacity: 0.9;
}

.slider-title {
    margin: 32px 0;

    font-family: "Old Standard TT", sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    color: #F5F2ED;
}

.slider-link {
    display: inline-block;
    position: relative;

    margin: 43px 0 41px;

    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #F5F2ED;
    text-transform: uppercase;
    text-decoration: none;
}

.slider-link::before {
    content: "";

    width: 32px;
    height: 0;
    border-top: 1px solid #F5F2ED;
    border-radius: 1px;

    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-link::after {
    content: "";

    width: 6px;
    height: 6px;
    border: 1px solid #F5F2ED;
    border-left: transparent;
    border-bottom: transparent;

    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%) rotate(45deg);
}

.button-prev, .button-next {
    width: 72px;
    height: 72px;
    border: 0;
    border-radius: 50%;
    outline: 0;
    background-color: #343235;
    font-size: 0;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.button-prev {
    grid-column: 1/2;
    left: 0;
}

.button-next {
    grid-column: -1/-2;
    right: 0;
}

.button-prev::before, .button-next::before {
    content: "";

    width: 32px;
    height: 0;
    border-top: 2px solid #F5F2ED;
    border-radius: 2px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.button-prev::before {
    left: 20px;
}

.button-next::before {
    right: 20px;
}

.button-prev::after, .button-next::after {
    content: "";

    width: 7px;
    height: 7px;
    border: 2px solid #F5F2ED;
    border-radius: 2px;
    border-left: transparent;
    border-bottom: transparent;

    position: absolute;
}

.button-prev::after {
    top: 50%;
    left: 20px;
    transform: translateY(-45%) rotate(225deg);
}

.button-next::after {
    top: 50%;
    right: 20px;
    transform: translateY(-45%) rotate(45deg);
}

.mission {
    padding-top: 120px;
    background: #343235 url("../img/mission-bg.png") no-repeat center bottom 20px;
    background-size: 100% 320px
}

.mission-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
}

.mission-header {
    grid-column: 7/-1;
}

.mission-title {
    max-width: 380px;
    margin-left: 99px;
    color: #EEE9E6;
}

.mission-header .title-description {
    color: #9A8584;
    opacity: 0.1;
}

.mission-text {
    grid-column: 8/-1;
    margin: 15px 0;

    color: #FBF3F0;
}

.mission-text:last-of-type {
    margin-bottom: 80px;
}

.mission video {
    grid-column: 1/7;
    grid-row: 1/5;

    width: 100%;
    height: 100%;
}

.mission img:first-of-type {
    grid-column: 4/7;
    margin-top: 20px;
}

.mission img:last-of-type {
    grid-column: 7/-1;
    grid-row: 4/6;

}

.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #343235;
}

.team-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
}

.team-header {
    margin-bottom: 45px;
}

.team-title {
    max-width: 460px;
    margin-left: 99px;
    color: #EEE9E6;
}

.team-header .title-description {
    color: #9A8584;
    opacity: 0.1;
}

.team-content {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
}

.team-content p {
    color: #FBF3F0;
    margin: 0 0 25px;
}

.team-content .aside-right-text {
    grid-column: 9/-1;
}

.team-text {
    grid-column: 2/8;
}

.team-content img {
    grid-column: 1/-1;
    margin-top: 15px;
}

.collection {
    padding: 140px 0 120px;
}

.collection-title {
    margin-left: 99px;
}

.collection-text {
    margin: 50px 0 40px 99px;
    max-width: 570px;
}

.collection-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.collection-item {
    grid-column: span 6;
}

.collection-item-big {
    grid-row: span 2;
}